[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask = "*"
marshmallow = "*"

[dev-packages]
behave = "*"
flake8 = "*"
pytest = "*"

[scripts]
runserver = "FLASK_APP=server.py flask run"

[requires]
python_version = "3.7"
